.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: auto 7% auto 0;
}

@media screen and ( max-width: 320px ) {
  .footer__links{
    flex-direction: column;
    padding: 0;
  }
}