@import url('./__copyright/footer__copyright.css');
@import url('./__link/footer__link.css');
@import url('./__link-icon/footer__link-icon.css');
@import url('./__links/footer__links.css');

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

@media screen and ( max-width: 540px ) {
  .footer {
    flex-direction: column-reverse;
    height: fit-content;
  }
}