@import url('./_conflict/error_conflict.css');
@import url('./_visible/error_visible.css');

.error {
    position: absolute;
    bottom: -17px;
    left: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: none;
}

.popup__input:invalid ~ .error{
  display: block;
}

.search__input-container .error{
  background-color: white;
  left: 25px;
  bottom: -40px;
  font-size: 16px;
  line-height: 30px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}