.popup__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: content-box;
  padding: 9px 0;
  font-family: Inter;
}

.popup__input::placeholder {
  opacity: 0.2;
  padding: 0;
}