@import url('./_active/header__button_active.css');
@import url('./_hidden/header__button_hidden.css');

.header__button {
  margin-right: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: inherit;
}

.header__button:hover {
  box-shadow: inset 0px -3px 0px;
  cursor: url('../../../images/Pointer.png'), auto;
}

@media screen and ( max-width: 320px ) {
  .header__button {
    font-size: 18px;
    line-height: 56px;
  }
}